.wid{
	width:90px;
}

.wthree_dao{
	width:100%;
	height:100px;
	margin: 0 auto;
	padding: 0em 4em;
	transition-property:height;
	transition-duration:0.6s;
	/* Safari and Chrome */
	-webkit-transition-property:height;
	-webkit-transition-duration:0.6s;
	background-size:cover;
	background-position: center;
}

.wthree_dao:hover{
	height: 300px;
}
